<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <li><a href="/">Translator</a></li>
  <li><a href="/submit">Submit a Translation</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/translations">Translations Database</a></li>
</nav>
