<nav class="navbar navbar-dark bg-primary">
  <li><a href="/">Translator</a></li>
  <li><a href="/submit">Submit a Translation</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/translations">Translations Database</a></li>
</nav>
